@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 300px) {
  header {
    width: 100vw;
    min-height: 30vh;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    isolation: isolate;
    position: relative;
    overflow: hidden;
  }
  header > article {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    margin-left: 30%;
    margin-top: 10%;
    color: whitesmoke;
    position: relative;
  }
  header > article:before {
    content: "MNS";
    font-size: 38px;
    color: red;
    position: absolute;
    z-index: -1;
    left: -2px;
    filter: blur(1px);
  }
  header > article:after {
    content: "MNS";
    font-size: 38px;
    color: aqua;
    position: absolute;
    z-index: -1;
    right: 13px;
    filter: blur(1px);
  }
  header > article h1 {
    font-size: 38px;
  }
  header aside:before, header aside {
    position: absolute;
    width: 40vw;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
    box-shadow: inset 1px 1px 30px black;
  }
  header aside {
    top: -20%;
    left: -25%;
    z-index: -1;
  }
  header aside:before {
    content: "";
    bottom: -15vh;
    right: -55vh;
    background-color: red;
    z-index: -1;
  }
  header nav {
    padding-bottom: 15%;
    display: flex;
    justify-content: flex-end;
  }
  header nav > ul {
    display: none;
  }
  header nav details {
    width: 95%;
  }
  header nav details summary {
    font-size: 24px;
  }
  header nav details > ul {
    position: absolute;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1vh;
  }
  header nav details li {
    width: 40%;
    display: flex;
  }
  header nav details a {
    text-decoration: none;
    color: whitesmoke;
  }
  footer {
    height: 5vh;
    background-color: black;
    color: whitesmoke;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .main-page main > h1 {
    display: none;
  }
  .main-page main > article {
    display: none;
  }
  .main-page main > section {
    display: none;
  }
  .main-page main {
    background-color: rgb(0, 0, 0);
    mix-blend-mode: color;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
  }
  .main-page video {
    margin-top: 5%;
    width: 200%;
  }
  .main-page aside {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .main-page aside:before {
    content: "";
    width: 90vw;
    padding-bottom: 90vw;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -55%;
    top: -10%;
  }
  .main-page aside:after {
    content: "";
    width: 90vw;
    padding-bottom: 90vw;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: -55%;
    bottom: 30%;
  }
  .main-page nav {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    z-index: 3;
  }
  .main-page nav article {
    position: absolute;
    width: 5vw;
    height: 100vh;
    background-color: red;
    box-shadow: 1px 1px 3px black;
  }
  .main-page nav section {
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 5vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25vh;
    box-sizing: border-box;
    transform: translateX(-50vw);
    transform-origin: left;
    transition: all 0.4s linear;
  }
  .main-page nav section ul {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    opacity: 0;
    transition: all 0.2s linear 0.4s;
  }
  .main-page nav section li {
    display: flex;
  }
  .main-page nav section a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-page nav input {
    display: none;
  }
  .main-page nav label {
    position: absolute;
    width: 10vw;
    height: 25vw;
    border-radius: 10px;
    background-color: red;
    z-index: 2;
    top: 60vw;
    left: 0vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.363);
  }
  .main-page nav label i {
    padding-right: 5px;
    color: black;
    font-size: 26px;
  }
  .main-page nav h1 {
    position: absolute;
    z-index: 2;
    top: 2vw;
    right: -45vw;
    background-image: linear-gradient(to right, red, whitesmoke);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    filter: drop-shadow(1px 1px 0px whitesmoke);
    font-size: 32px;
    transition: all 0.4s;
  }
  .main-page nav p {
    position: absolute;
    right: -45vw;
    top: 13vw;
    font-size: 12px;
    overflow: hidden;
  }
  .main-page nav p:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    -webkit-animation: steps 3s steps(23) forwards 3s;
            animation: steps 3s steps(23) forwards 3s;
  }
  @-webkit-keyframes steps {
    to {
      left: 100%;
    }
  }
  @keyframes steps {
    to {
      left: 100%;
    }
  }
  @-webkit-keyframes blink {
    to {
      left: 100%;
      opacity: 1;
    }
  }
  @keyframes blink {
    to {
      left: 100%;
      opacity: 1;
    }
  }
  .main-page nav [type=checkbox]:checked + section {
    transform: translate(0vw);
  }
  .main-page nav [type=checkbox]:checked + section > ul {
    opacity: 1;
  }
  .main-page nav [type=checkbox] ~ label {
    transform: translate(0vw, 0vw);
    transition: all 0.4s linear;
  }
  .main-page nav [type=checkbox]:checked ~ label {
    transform: translate(50vw, 0);
  }
  .main-page nav [type=checkbox] ~ p {
    filter: blur(0px);
    transition: all 1s;
  }
  .main-page nav [type=checkbox]:checked ~ p {
    filter: blur(2px);
  }
  .main-page nav [type=checkbox]:checked ~ h1 {
    background-image: linear-gradient(to right, red, red);
    filter: drop-shadow(1px 1px 30px whitesmoke);
  }
  .main-page form {
    position: absolute;
    z-index: 3;
    right: 3%;
    bottom: 50%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-page form > a, .main-page form details > summary {
    display: flex;
    padding: 0.5em 1em;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-page form details > article {
    position: absolute;
    top: -130%;
    right: 30%;
    width: 15vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5em 1em;
  }
  .main-page form details > article input, .main-page form details > article a {
    padding: 0.5em 1em;
    width: 100%;
    border: 0px none transparent;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 5%;
    background-color: whitesmoke;
  }
  .main-page form details > article a {
    color: black;
    background-color: whitesmoke;
    width: 20%;
  }
  .main-page form > a {
    color: whitesmoke;
    text-decoration: none;
  }
  .signup-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
  }
  .signup-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    border: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
  }
  .signup-page form label {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .signup-page form input {
    padding: 0.5em;
    border: 0px none transparent;
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
    width: 90%;
  }
  .signup-page form > a {
    width: 100%;
    height: 30px;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    cursor: default;
  }
  .signup-page form > a i {
    background-color: red;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .signup-page form > article {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .signup-page form > article input {
    width: 30%;
    border: 1px solid gray;
  }
  .signup-page form > article a {
    width: 30%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(24, 201, 101);
  }
  .about-page {
    background-color: black;
    color: whitesmoke;
  }
  .about-page > main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .about-page .section-title {
    height: 15vh;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid red;
    padding-bottom: 5%;
    margin-bottom: 5%;
    font-size: 22px;
  }
  .about-page .company aside {
    width: 20vw;
    aspect-ratio: 1/1;
    background-color: rgba(226, 15, 15, 0.356);
    border-radius: 5px;
    float: left;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-page .company aside p {
    font-size: 24px;
  }
  .about-page .company aside span {
    font-size: 14px;
  }
  .about-page .company section {
    line-height: 2;
    text-align: justify;
  }
  .about-page .company section h2 {
    filter: drop-shadow(4px 1px 1px rgba(226, 15, 15, 0.356));
  }
  .about-page .company section p {
    padding-left: 5%;
    padding-right: 5%;
  }
  .about-page .company section p:nth-child(2) {
    margin-bottom: 5%;
  }
  .about-page .company section p a {
    color: aqua;
  }
  .about-page .contributors > article:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5vh;
  }
  .about-page .contributors > article:nth-child(2) figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-page .contributors > article:nth-child(2) figure aside {
    width: 80%;
    padding-bottom: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .about-page .contributors > article:nth-child(2) figure:nth-child(1) > aside {
    background-image: url("/img/flag-brazil.jpg");
  }
  .about-page .contributors > article:nth-child(2) figure:nth-child(2) > aside {
    background-image: url("/img/flag-japan.png");
  }
  .about-page .contributors > article:nth-child(2) figure:nth-child(3) > aside {
    background-image: url("/img/flag-india.jpg");
  }
  .about-page .timeline {
    min-height: 80vh;
  }
  .about-page .timeline > article:nth-child(2) {
    display: flex;
    -moz-column-gap: 10vh;
         column-gap: 10vh;
    align-items: center;
    justify-content: center;
  }
  .about-page .timeline > article:nth-child(2) aside {
    height: 60vh;
    width: 5px;
    position: absolute;
    z-index: -1;
    border-right: 5px dashed blue;
  }
  .about-page .timeline > article:nth-child(2) p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
  }
  .about-page .timeline > article:nth-child(2) span {
    text-align: center;
    width: 80vw;
    font-size: 20px;
    filter: drop-shadow(5px 5px 15px black);
  }
  .about-page .projects > article:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vh;
  }
  .about-page .projects > article:nth-child(2) figure {
    width: 40vw;
    height: 45vw;
    border-radius: 5px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-page .projects > article:nth-child(2) figure:nth-child(1) {
    background-image: url("/img/22 Jump Street (2014).jpg");
  }
  .about-page .projects > article:nth-child(2) figure:nth-child(2) {
    background-image: url("/img/Due Date.jpg");
  }
  .about-page .projects > article:nth-child(2) figure:nth-child(3) {
    background-image: url("/img/Limitless.jpg");
  }
  .about-page .projects > article:nth-child(2) figure:nth-child(4) {
    background-image: url("/img/The Judge (2014).jpg");
  }
  .about-page .projects > article:nth-child(2) figure:hover {
    opacity: 0.8;
  }
  .about-page .projects > table {
    margin-top: 15%;
    margin-bottom: 15%;
    border-collapse: collapse;
    text-align: center;
  }
  .about-page .projects tr {
    border-bottom: 1px solid red;
  }
  .about-page .projects tr > th:nth-child(1) {
    border-right: 1px solid red;
  }
  .about-page .projects td {
    padding: 5%;
  }
}
@media (min-width: 700px) {
  header nav details {
    padding-bottom: 5%;
  }
  header nav details li {
    padding: 3%;
  }
  header aside:before {
    right: 0%;
    left: 280%;
  }
  .main-page video {
    width: 150%;
  }
  .main-page nav label {
    top: 30%;
  }
  .main-page nav ul {
    padding-bottom: 15%;
  }
  .main-page nav a {
    font-size: 24px;
  }
  .main-page nav h1 {
    font-size: 42px;
  }
  .main-page nav p {
    right: -50vw;
  }
  .main-page nav p:after {
    background-color: red;
  }
  .main-page form {
    bottom: 60%;
    font-size: 24px;
  }
  .main-page form details article {
    top: -110%;
    right: 70%;
  }
  .signup-page [type=reset], .signup-page a {
    padding: 1em 1.5em;
  }
}
@media (min-width: 1000px) {
  html {
    width: unset;
    height: unset;
    overflow: auto;
  }
  header .nav-header-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    right: 30%;
    bottom: 20%;
    width: 20vw;
  }
  header .nav-header-desktop li {
    width: 40%;
    display: flex;
  }
  header .nav-header-desktop a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 26px;
    padding: 1em;
    border: 1px solid black;
    border-bottom: 1px solid whitesmoke;
    transition: 0.4s;
  }
  header .nav-header-desktop a:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid whitesmoke;
  }
  header nav details {
    display: none;
  }
  .main-page {
    position: relative;
  }
  .main-page video {
    width: 100%;
    height: 80vh;
  }
  .main-page nav {
    display: none;
  }
  .main-page form {
    bottom: 70%;
  }
  .main-page form a:hover, .main-page form details:hover {
    background-color: darkred;
    border-radius: 5px;
    cursor: pointer;
  }
  .main-page form details {
    margin-bottom: 15%;
  }
  .main-page form details article {
    right: 170%;
  }
  .main-page form details article input {
    width: 40vw;
  }
  .main-page form details article a {
    border-radius: 5px;
  }
  .main-page .logo {
    display: flex;
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 40%;
    background-image: linear-gradient(red, transparent);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
  .main-page .nav-desktop {
    position: absolute;
    z-index: 4;
    width: 25vh;
    height: 40vh;
    display: flex;
    left: 5%;
    top: 30%;
  }
  .main-page .nav-desktop ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-page .nav-desktop li {
    width: 100%;
    display: flex;
  }
  .main-page .nav-desktop a {
    text-decoration: none;
    text-transform: capitalize;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding: 0.5em 1em;
    font-size: 22px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-page .nav-desktop a:hover {
    background-color: darkred;
    cursor: pointer;
    border-radius: 5px;
  }
  .signup-page {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}/*# sourceMappingURL=style.css.map */