@media (min-width: 700px) {

  // TABLET HEADER
  header {

    nav {
      details {
        padding-bottom: 5%;
        li {
          padding: 3%;
        }
      }
    }

    aside {

      &:before {
        right: 0%;
        left: 280%;
      }
    }
  }

  // MAIN PAGE
  .main-page {
    video {
      width: 150%;
    }

    nav {
       label {
        top: 30%;
       }

       ul {
        padding-bottom: 15%;
       }

       a {
        font-size: 24px;
       }

       h1 {
        font-size: 42px;
       }

       p {
        right: -50vw;

        &:after {
          background-color: red;
        }
       }
    }

    form {

      bottom: 60%;
      font-size: 24px;

      details {
        article {
          top: -110%;
          right: 70%;
        }
      }
    }
  }

  // SIGN UP PAGE
  .signup-page {
    [type="reset"], a {
      padding: 1em 1.5em;
    }
  }

  // ABOUT PAGE
  .about-page {
     .section-title {
      height: 10vh;
     }

    .contributors {
      > article:nth-child(2) {
        justify-content: center;
        figure {
          width: 40%;
          aside {
            width: 100%;
            padding-bottom: 60%;
          }
        }
      }
    }

    .timeline {
      > article:nth-child(2) {
        aside {
          margin-top: 5%;
          width: 30%;
          height: 50vh;
        }

        p {
          height: 45vh;
        }
      }
    }
    
    .projects {
      table {
        width: 100%;
      }
    }
  }

  // CONTACT PAGE 

  .contact-page {
    .contact,
    .newsletter,
    .social,
    .faq,
    .help {
      > article:first-child {
        padding-top: 5%;
      }
      h2 {
        font-size: 34px;
      }
    }
    .contact-header {
      figcaption {
        h1 {
          font-size: 48px;
        }
      }
    }
    .navbar {
      .navbar-brand{
        font-size: 28px;
      }
      .nav-item {
        font-size: 20px;
      }
    }
    
    .contact,
    .newsletter {
      padding-top: 5%;
    }

    .contact {
      input {
        font-size: 20px;
      }
      textarea {
        font-size: 20px;
      }
    }
    .newsletter {
      > article:last-child {
        flex-direction: row;
      }
      .newsletter-form {
        .form-label {
          font-size: 20px;
        }
        .mb-3 {
          font-size: 18px;
        }
      }
    }

    .social {
      > article:last-child {
        aside {
          i {
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 130px;
            font-size: 42px;
            padding: 5%;
          }
  
        }
      }
    }

    .faq {
      h3 {
        font-size: 24px;
      }
      .information {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        article  {
          width: 50%;
        }

        h4 {
          font-size: 22px;
        }
        a {
          font-size: 18px;
        }
      }
    }

    .help {
      .helpcenter {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        article {
          width: 50%;
        }

        h4 {
          font-size: 22px;
        }
        a{ 
          font-size: 18px;
        }
      }
    }
  }
}